{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Cadastro de Empresa</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="{% static 'img/img-formulario.png' %}">
        </div>
        <div class="form">
            <h2>Cadastre sua Empresa</h2>
            <div class="info-links">
                <p>Já é um membro? <a href="#">Login</a></p>
                <p>Pessoa Fisica? <a href="/">Cadastrar</a></p>
            </div>
            <div class="form-header">
                <div class="title">

                </div>
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <label for="firstname">Razão Social</label>
                        {{ form.razao_social }}
                        {% for error in form.razao_social.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div class="input-group">
                        <label for="lastname">Nome Fantasia</label>
                        {{ form.nome_fantasia }}
                        {% for error in form.nome_fantasia.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div class="input-group">
                        <label for="lastname">CNPJ</label>
                        {{ form.cnpj }}
                        {% for error in form.cnpj.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>

                                 <!-- formato de cpf - transformação para cnpj = pattern=\d{3}\.?\d{3}\.?\d{3}-?\d{2}-->

                    <div class="input-group">
                        <label for="email">E-mail</label>
                        {{ form.email }}
                        {% for error in form.email.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div class="input-group">
                        <label for="number">Celular</label>
                        {{ form.celular }}
                        {% for error in form.celular.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div class="input-group w50">
                        <label for="password">Senha</label>
                        {{ form.senha }}
                        {% for error in form.senha.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        {% if form.senha.errors %}
                            {% for error in form.senha.errors %}
                                <p style="color: red;">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="input-group w50">
                        <label for="confirmpassword">Confirmar Senha</label>
                        {{ form.confirmar_senha }}
                        {% for error in form.confirmar_senha.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div class="input-group">
                        <button>Cadastrar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
<script>
    function formatarCNPJ(input) {
        var valor = input.value;

        valor = valor.replace(/\D/g, '');

        valor = valor.replace(/^(\d{2})(\d)/, '$1.$2');
        valor = valor.replace(/^(\d{2})\.(\d{3})(\d)/, '$1.$2.$3');
        valor = valor.replace(/\.(\d{3})(\d)/, '.$1/$2');
        valor = valor.replace(/(\d{4})(\d)/, '$1-$2');


        if (valor.length > 18) {
            valor = valor.substring(0, 18);
        }

        input.value = valor;
    }
    function formatarCelular(input) {
        var valor = input.value;

        valor = valor.replace(/\D/g, '');
        valor = valor.replace(/^(\d{2})(\d)/, '($1) $2');
        valor = valor.replace(/(\d{5})(\d)/, '$1-$2');
        if (valor.length > 15) {
            valor = valor.substring(0, 15);
        }

        input.value = valor;
    }
</script>