{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Cadastro de Empresa</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="{% static 'img/img-formulario.png' %}">
        </div>
        <div class="form">
            <h2>Cadastre sua Empresa</h2>
            <p> Já é um membro? <a href="#"> Login </a> </p>
            <div class="form-header">
                <div class="title">

                </div>
                <form action="#">
                    <div class="input-group">
                        <label for="firstname">Razão Social</label>
                        <input type="text" id="nome" placeholder="Digite a Razão Social" required>
                    </div>
                    <div class="input-group">
                        <label for="lastname">Nome Fantasia</label>
                        <input type="text" id="nome" placeholder="Digite o Nome Fantasia" required>
                    </div>

                    <div class="input-group">
                        <label for="lastname">CNPJ</label>
                        <input id="cnpj" type="text" name="cnpj" pattern=\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2} title="Digite o CNPJ no formato: xx.xxx.xxx/xxxx-xx" placeholder="Digite o CNPJ" onchange="formatarCNPJ(this)" required>
                    </div>

                                 <!-- formato de cpf - transformação para cnpj = pattern=\d{3}\.?\d{3}\.?\d{3}-?\d{2}-->

                    <div class="input-group">
                        <label for="email">E-mail</label>
                        <input type="email" id="email" placeholder="Email@email.com.br" required>
                    </div>

                    <div class="input-group">
                        <label for="number">Celular</label>
                        <input type="number" id="telefone" placeholder="Digite o seu celular (00) 0 0000-0000" required>
                    </div>

                    <div class="input-group w50">
                        <label for="password">Senha</label>
                        <input type="password" id="senha" placeholder="Digite sua senha" required>
                    </div>

                    <div class="input-group w50">
                        <label for="confirmpassword">Confirmar Senha</label>
                        <input type="password" id="Confirmarsenha" placeholder="Digite novamente" required>
                    </div>

                    <div class="input-group">
                        <button>Cadastrar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
<script>
    function formatarCNPJ(input) {
        var valor = input.value;

        valor = valor.replace(/\D/g, '');

        valor = valor.replace(/^(\d{2})(\d)/, '$1.$2');
        valor = valor.replace(/^(\d{2})\.(\d{3})(\d)/, '$1.$2.$3');
        valor = valor.replace(/\.(\d{3})(\d)/, '.$1/$2');
        valor = valor.replace(/(\d{4})(\d)/, '$1-$2');


        if (valor.length > 18) {
            valor = valor.substring(0, 18);
        }

        input.value = valor;
    }
</script>